dateparser==0.7.0
usaddress==0.5.10
scrapinghub==2.2.1
attrs==17.4.0
w3lib>=1.19.0
parsel==1.5.1
requests==2.18.4
humanize==0.5.1
tqdm==4.19.5
pysftp==0.2.9
demjson==2.2.4
pyasn1-modules==0.2.1
pyasn1==0.4.1
scrapy-inline-requests==0.3.1
paramiko==2.4.1
urllib3==1.22
pytz==2018.3
markdown2==2.3.6
dnspython==1.15.0
tldextract==2.2.0
beautifulsoup4==4.6.3
scrapy-crawlera==1.5.0
js2py==0.63
google-cloud-bigquery==1.24.0
jsonpath-ng==1.4.3
six==1.13.0
setuptools==40.3.0